Editor/.DS_Store
Editor/Inspectors/.DS_Store
Editor/UI/.DS_Store
Editor/UI/VisualElements/.DS_Store
Runtime/.DS_Store
Runtime/Resources/.DS_Store
Runtime/Scripts/.DS_Store
Samples/.DS_Store
.DS_Store
/Python/__pycache__
